@import "var.scss";


//**************************
//MIXINS

@mixin mixinsections {
  border: 1px solid $lightgray;
  width: 250px;
  height: 250px;
  border-radius: 7px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  transition: $transition;
  transform: scale(1, 1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      transition: $transition;
      transform: scale(1.02, 1.02);
        img {
          transform: scale(1.2, 1.2);
          transition: $transition;
        }
    }
    a {
      //border: $border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: black;
      font-weight: bold;
        img {
          //border: $border;
          width: 60%;
          height: 60%;
          transition: $transition;
        }
        span {
          //border: $border;
          z-index: 10;
        }
    }
}

//**************************


body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.hp {
  //border: 1px solid red;
  display: flex;
    &__wrp {
      //border: $border;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
    }
    &__hdrblock {
      //border: $border;
      display: flex;
      flex-direction: column;
      height: 15%;
      box-shadow: 0 10px 40px rgba(0,0,0,0.1), 0 10px 100px rgba(0,0,0,0.1);
      z-index: 10;
    }
    &__hdrtop {
      //border: $border;
      display: flex;
      justify-content: center;
      height: 40%;
      width: 100%;
      background-color: $phantomeblue;
    }
    &__hdrtopwrap {
      //border: $border;
      display: flex;
      width: 85%;
    }
    &__hdrtopinfo {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
        a {
          color: white;
          text-decoration: none;
          margin: 0 15px;
        }
    }
    &__hdrtopcontacts {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
        span {
          color: white;
          margin: 0 5px;
            &:nth-child(1) {
              font-weight: bold;
            }
        }
    }


    &__hdrbuttom {
      //border: $border;
      display: flex;
      justify-content: center;
      height: 60%;
      width: 100%;
    }
    &__hdrbuttomwrap {
      //border: $border;
      display: flex;
      width: 85%;
    }
    &__hdrbuttomlogo {
      //border: $border;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 20%;
        img {
          height: 90%;
          align-self: center;
        }
    }
    &__hdrbuttomfind {
      //border: $border;
      width: 50%;
    }
    &__find {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
        input {
          width: 80%;
          height: 60%;
          padding-left: 10px;
          border: none;
          border-radius: 7px;
          background-color: $lightgray;
          color: $middlegray;
        }
    }
    &__hdrbuttomother {
      //border: $border;
      display: flex;
      width: 30%;
    }
    &__hdrbuttombasket {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
        a {
          text-decoration: none;
          color: black;
        }
    }
    &__hdrbuttomauth {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
        a {
          border: 1px solid $middlegray;
          border-radius: 7px;
          text-decoration: none;
          color: #000;
          padding: 10px 15px;
        }
    }


    &__bdyblock {
      //border: $border;
      display: flex;
      justify-content: center;
      background-color: $lightlightgray;
    }
    &__dbyblockwrap {
      //border: $border;
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-wrap: wrap;
      width: 85%;
      //height: 1000px;
      margin-top: 50px;
    }
    &__cpu {
      @include mixinsections;
    }
    &__mbord {
      @include mixinsections;
    }
    &__video {
      @include mixinsections;
    }
    &__ram {
      @include mixinsections;
    }
    &__power {
      @include mixinsections;
    }
    &__corps {
      @include mixinsections;
    }
    &__cooling {
      @include mixinsections;
    }
    &__modding {
      @include mixinsections;
    }
    &__ssd {
      @include mixinsections;
    }
    &__hdd {
      @include mixinsections;
    }
    &__expdevices {
      @include mixinsections;
    }
    &__accessories {
      @include mixinsections;
    }


}